GloveEntry{
    width: 200px;
    height: 200px;
    font-size: 18px;
    font-weight: 600;
    background-color: #3b61b3;
    margin: 10px;
    justify-content: center;
    align-items: flex-end;
    border-radius: 15px;
    color: white;
    transition: all .1s ease-in;

    &:hover{
        transition: all .1s ease-in;
        transform: scale(1.2);
        background-color: #2f4f94;
    }
}