@using Sandbox;
@using Sandbox.UI;
@inherits Panel;

@attribute [StyleSheet]

<root>
    <section class="header">
        <label>SLAP ARENA</label>
    </section>
    
    <section class="navbar">
            <a>Create a Game</a>
            <a>Find a Game</a>
            <a>News</a>
    </section>
</root>