@using Sandbox;
@using Sandbox.UI;
@inherits Panel;

@attribute [StyleSheet]

<root>
    <section class="header">
        <label>SLAP ARENA</label>
    </section>

    <section class="userselection">
        <a class="button" href="/create">Create a Game</a>
        <a class="button" href="/find">Find a Game</a>
        <a class="button" href="/news">News</a>
        <button onclick="@Game.Menu.Close">Quit</button>
    </section>
</root>