@using Sandbox;
@using Sandbox.UI;
@inherits Panel;

@attribute [StyleSheet]

<root>
    <section class="info">
        <p>THIS IS IN DEVELOPMENT. IT IS NOT PLAYABLE.</p>
        <p>95% of the UI does not work.</p>
        <p>Only the most basic gameplay loop is implemented</p>
        <p>I will work and update this as often as I can.</p>
        <p>If you're interested in contacting me to learn more</p>
        <p>Add me via discord: morrowindenjoyer</p>
    </section>

    <section class="userselection">
        <a class="button" href="/">Back</a>
    </section>
</root>