EscapeMenu{
    width: 100%;
    height: 100%;
    background-color: #578bfa;
    font-family:  'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;

    .header{
        background-color: #578bfa;
        justify-content: center;
        align-items: center;
        font-size: 100px;
        font-weight: 900;
        height: 40%;
    }

    .userselection{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .button{
        border-radius: 10px;
        font-size: 40px;
        background-color: #4773d1;
        padding: 10px;
    }

    .button:hover{
        background-color: #3e67bd;
    }
    
    .hidden{
        display: none;
    }
}