@using Sandbox;
@using Sandbox.UI;
@using SlapArena;

@inherits Panel
@attribute [StyleSheet]


<root>
    <section class="header">
        <label>SLAP ARENA</label>
    </section>

    <section class="userselection">
        <button onclick="@Game.Menu.HideMenu">Resume</button>
		<button onclick="@MyGame.Reset">Reset</button>
        <button onclick="@Game.Menu.Close">Quit</button>
    </section>
</root>

@code{
    public EscapeMenu(){
        BindClass("hidden", () => Game.Menu.IsLoading);
    }
}
