@using Sandbox;
@using Sandbox.UI;
@inherits PanelWorld;

@namespace SlapArena.UI

@attribute [StyleSheet]

<root>
	<label class="header">Gloves</label>
</root>

@code{
    public SpawnMenu(Vector3 pos, Rotation rot) : base(pos, rot){
        this.PanelBounds = new Rect(new Vector2(this.PanelBounds.Position.x, this.PanelBounds.Position.y), new Vector2(2000, 2000));
        AddChild(new GloveGrid());
    }
}
