@using Sandbox;
@using Sandbox.UI;

@inherits InWorldPanel;
@namespace SlapArena.UI

@attribute [StyleSheet]

@if(Entity is not Pawn plyr || !plyr.IsValid()){
    return;
}

<root>
    <span class="name"><label>@plyr.SteamNickname</label></span>
</root>

@code{
    public Nameplate(Pawn plyr, Vector3 offset) : base(plyr, offset){
    }
    
    public override void Tick(){
        if(!Entity.IsValid() || Entity.LifeState == LifeState.Dead){
            Delete(true);
            return;
        }

        var plyr = Entity as Pawn;
        var x = plyr.CollisionBounds.Mins.x;
        var y = plyr.CollisionBounds.Mins.y;
        var p = new Vector3(Entity.Position.x+x/2, Entity.Position.y+y/2, Entity.Position.z);
        Position = p + panelOffset;
    }
}